.l-main-grid
    display: grid
    grid-gap: 0px
    grid-template-columns: min-content auto
    grid-template-rows: min-content auto min-content
    grid-template-areas: "header header" "menu content" "footer footer"
    box-sizing: border-box;
    width: 100%
    height: 100%
    //background-color: $grey-blue-30
    //box-shadow: inset 5px 5px 20px #0000004a;


@media screen and (max-width: 940px) and (orientation: landscape)
    .l-main-grid
        //width: 100%
        //height: 100%

@media (max-width: 940px)
    .l-main-grid
        //width: 100%
        //height: 100%
        grid-template-columns: auto
        grid-template-rows: min-content min-content auto min-content
        grid-template-areas: "header header user" "menu menu menu" "content content footer"

@media (max-width: 480px)
    .l-main-grid
        //width: 100%
        //height: 100%
        //grid-template-rows: min-content min-content auto min-content;
        //grid-template-columns: 50px auto 50px;
        //grid-template-areas: "header" "menu" "content content content" "footer footer footer"

@media (max-width: 840px) and (orientation: landscape) and (max-height: 480px)
    .l-main-grid
        //width: 100%
        //height: 100%
        //grid-template-rows: 50px auto;
        //grid-template-columns: 50px auto 50px;
        //grid-template-areas: "header header user" "menu content footer "
        //border-radius: 0







